body {
  background: linear-gradient(30deg, rgb(77, 77, 77), rgb(58, 58, 58));
  color: rgb(56, 53, 53);
}

header {
  position: static;
}

#page-logo a {
  color: rgb(218, 221, 255);
}

ul#nav-anchors a {
  color: rgb(218, 221, 255);
}

ul#nav-anchors a:hover,
ul#nav-anchors a:active {
  color: rgb(59, 59, 59);
  background-color: rgb(218, 221, 255);
}

main ul {
  width: 1200px;
  margin: 0px auto 45px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 20px;
}

main li:nth-of-type(3) {
  background-color: rgb(250, 235, 215);
  grid-column: 1 / span 2;
}

main li:nth-of-type(6),
main li:nth-of-type(7) {
  background-color: rgb(140, 155, 132);
}

main li:nth-of-type(10) {
  grid-column: 1 / span 2;
  background-color: rgb(242, 190, 164);
}

main li {
  display: flex;
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  overflow: hidden;
}

main li img {
  width: 300px;
  height: 280px;
  object-fit: cover;
}

main ul li div.item-content {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

main ul li div.item-content div > h2 {
  margin: 0px;
}

main ul li div.actions a {
  text-decoration: none;
  color: rgb(77, 89, 223);
  padding: 4px 5px;
  border-radius: 4px;
}

main ul li div.actions a:active,
main ul li div.actions a:hover {
  background-color: rgb(218, 221, 255);
}
