section#hero {
  height: 800px;
  background-image: url("images/places/ocean.jpg");
  background-position: center;
  background-size: cover;
}

div#hero-content {
  width: 900px;
  background-color: rgba(51, 47, 47, 0.8);
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
  border-radius: 8px;
  text-align: center;
  padding: 50px 0px;
  margin: 0px auto;
  position: relative;
  top: 200px;
}

#hero-content h1 {
  color: white;
  text-transform: uppercase;
  font-size: 50px;
  font-family: "Raleway", sans-serif;
  margin: 0px;
}

#hero-content p {
  color: white;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 300;
}

#hero-content a {
  text-decoration: none;
  background-color: rgb(255, 251, 0);
  padding: 12px 24px;
  color: black;
  font-size: 24px;
  border-radius: 8px;
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
  display: inline-block;
  margin-top: 10px;
}

#hero-content a:active,
#hero-content a:hover {
  background-color: rgb(255, 225, 0);
}

section#highlights {
  padding: 24px;
  background: linear-gradient(0deg, rgb(227, 255, 253), rgb(202, 243, 240));
}

#highlights h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 35px;
  color: rgb(59, 65, 64);
  margin: 20px 0px;
}

ul#destinations {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: auto auto 40px auto;
}

li.destination {
  width: 33%;
  margin: 0px 20px;
}

li.destination p {
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  color: rgb(124, 123, 123);
  margin: 10px 0px;
}

li.destination img {
  height: 200px;
  width: 100%;
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
  border-radius: 10px;
  object-fit: cover;
}

li.destination strong {
  color: rgb(0, 160, 117);
}

/* My personal version of "highlights" Section */

/* section#highlights {
  margin-bottom: 40px;
}

ul#destinations {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}

li.destination img {
  height: 200px;
  width: 300px;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 2px 2px 4px rgba(40, 40, 44, 0.8);
} */
